:root {
    --background-1: #050700;
    --foreground-1: #e6d1b1;
    --scr-width: 15px;
}

::-webkit-scrollbar {
    width: var(--scr-width);
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #9ca0a7;
    position: absolute;
    left: 0px;
}

::-webkit-scrollbar-thumb {
    background: #494d55;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
    background-color: var(--background-1);
    color: var(--foreground-1);
}

header {
    position: static;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    text-align: center;
    padding: 1em 0;
    z-index: 1000;
}

#header-content {
    margin: 0;
    padding: 0;
}


#hamburger {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
}

#hamburger-menu-check {
    visibility: hidden;
    position: fixed;
    top: -100vh;
    z-index: 2001;
}
.hamburger-menu-button {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    padding: 40px 25px;
    z-index: 2001;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-menu-button span {
    width: 100%;
    height: 3px;
    background-color: var(--foreground-1);
    transition: all 0.3s ease;
}

.hamburger-menu-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2000;
    text-align: center;
    background-color: rgb(0 0 0 / 0.7);

    visibility: hidden;
    transition: opacity 0.4s ease;
    opacity: 0;
    transform: translateX(-100%);
}

.hamburger-menu-nav ul {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
}

#hamburger-menu-check:checked ~ .hamburger-menu-nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

#hamburger-menu-check:checked + .hamburger-menu-button span:nth-child(1) {
    transform: rotate(45deg) translate(3.0px, 9.0px);
}

#hamburger-menu-check:checked + .hamburger-menu-button span:nth-child(2) {
    opacity: 0;
}

#hamburger-menu-check:checked + .hamburger-menu-button span:nth-child(3) {
    transform: rotate(-45deg) translate(3.0px, -9.0px);
}

main {
    position: relative;
    top: -10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.elem {
    background-color: transparent;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 8px;
    max-width: 800px;
    color: var(--foreground-1);
}

#first-elem {
    width: calc(100vw - var(--scr-width));
    height: calc(100vh - 200px);
    padding: 0px 0px;
    margin: 0px 0px;
    background-position: center;
    background-size: cover;
    max-height: calc(100vw - var(--scr-width));
    text-align: center;
}

#first-elem-title {
    background: rgb(0 0 0 / 80%);
    border-radius: 8px;
    font-size: xx-large;
    position: relative;
    top: min(60vh, 60vw);
    width: 100%;
    flex-shrink: 0;
    padding: 0;
    margin: auto;
}

.elem h1 {
    text-align: center;
    color: var(--foreground-1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.elem h2 {
    text-align: center;
    color: var(--foreground-1);
    border-bottom: 2px solid var(--foreground-1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.elem p, .elem ul {
    line-height: 1.8;
}

.elem ul {
    list-style: none;
    padding: 0;
}

.elem li {
    background-color: var(--foreground-1);
    color: var(--background-1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

#support {
    max-width: none;
}

.support-holizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

@media (max-width: 1500px) {
  .support-holizontal {
    flex-direction: column;
  }
}

.banner {
    width: 17vw;
    min-width: 300px;
}

.support-holizontal li {
    background: transparent;
    padding: 0px;
    margin: 0px;
}

